body {
    padding-top: 60px;
    font-family: 'ProximaNova-Regular', Helvetica, sans-serif;
}

p.info {
    border-left: 5px solid #428bca;
    background: #5bc0de;
    color: white;
    padding: 5px;
    padding-left: 15px;
}

.bs-callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}

.bs-callout-warning {
    background-color: #fcf8f2;
    border-color: #f0ad4e;
}

.bs-callout-info {
    background-color: #f4f8fa;
    border-color: #5bc0de;
}

.bs-callout-danger {
    background-color: #fdf7f7;
    border-color: #d9534f;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}

.bs-callout-info h4 {
    color: #5bc0de;
}

.bs-callout-danger h4 {
    color: #d9534f;
}

.navbar-inner {
    padding: 5px 0px;
    background-image: none;
    background-color: #205081;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
}

.navbar .nav > li > a {
    padding: 10px 10px 5px;
}

.navbar .brand {
    padding: 5px 10px 5px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    color: #777777;
    text-shadow: 0 1px 0 #ffffff;
}

.navbar .nav.pull-right li {
    line-height: 20px
}
.navbar .nav.pull-right a {
    margin-right: 40px;
    text-decoration: none;
    color: #ccc;
    font-size: 13px;
    font-weight: normal;
    text-shadow: none;
}
.navbar .nav.pull-right li:last-child a {
    margin-right: 0px;
}
.navbar .nav.pull-right a:hover {
    color: #fff;
}
.navbar .nav.pull-right a.orange-button {
    display: inline-block;
}

#menu {
    min-height: 800px;
    border-right: 1px solid #eee;
    width: 180px;
}
@media (min-width: 1200px) {
    width: 200px;
}
@media (max-width: 979px) and (min-width: 768px) {
    #menu {
        width: 140px;
    }
}
@media (max-width: 768px) {
    #menu {
        min-height: 0px;
        border: none;
        position: static;
        width: auto;
        margin-bottom: 20px;
        border-bottom: 1px solid #eee;
    }
}

#menu li.nav-header {
    color: #111;
    font-weight: normal;
    letter-spacing: 2px;
}
#menu li a {
    padding-top: 8px;
    padding-bottom: 8px;
}
#menu li a {
    color: #999;
    text-shadow: none;
}
#menu li.active a {
    background-color: #205081;
    color: #fff;
}

.orange-button {
    display: inline-block;
    line-height: 20px;
    border-radius: 20px;
    vertical-align: middle;
    color: #ffffff !important;
    background-image: linear-gradient(90deg, #dc534b 0%, #d96f5f 100%);
    background-image: -moz-linear-gradient(90deg, #dc534b 0%, #d96f5f 100%);
    background-image: -webkit-linear-gradient(90deg, #dc534b 0%, #d96f5f 100%);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2)
    padding: 0px 10px;
}
.orange-button {
}

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}