<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Project-FiFo Documentation{% if page.title }%} - {{page.title}}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body { padding-top: 60px; /* 60px to make the container go all the way
      to the bottom of the topbar */ };
    </style>
    <link href="https://github.global.ssl.fastly.net/assets/github-9c0ec1654aa17ac751c2c3274ab0aa3cb4cc75ea.css" media="all" rel="stylesheet" type="text/css" />
    <link href="https://github.global.ssl.fastly.net/assets/github2-43c85266b41a94cc6a086312256ffbb8b0340a48.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/assets/css/docs.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
        </script>
        <![endif]-->
    <!-- Le fav and touch icons -->
    <!--link rel="shortcut icon" href="assets/ico/favicon.ico"-->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a href="/" class="brand"><img src="/assets/img/fifo-logo.png" style="height:20px"></a>
          <ul class="nav pull-right">
            <li><a href="https://jira.project-fifo.net/">Bugtracker</a></li>
            <li><a href="https://project-fifo.net/">Wiki</a></li>
            <li><a href="https://github.com/project-fifo/project-fifo.github.io" target="_blank">On Github</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <ul id="menu" class="nav nav-list" data-spy="affix">
            <li class="nav-header" onclick="select('general')">General</li>
            <li data-section="general/welcome" data-category="general">
              <a href="/">Welcome</a>
            </li>
            <li data-section="general/installation" data-category="general">
              <a href="/general/installation.html">Installation</a>
            </li>
            <li data-section="general/clustering" data-category="general">
              <a href="/general/clustering.html">Clustering</a>
            </li>
            <li class="nav-header" onclick="select('sniffle')">Sniffle</li>
            <li data-section="sniffle/configuration" data-category="sniffle">
              <a href="/sniffle/configuration.html">Configuration</a>
            </li>
            <li data-section="sniffle/administration" data-category="sniffle">
              <a href="/sniffle/administration.html">Administration</a>
            </li>
            <li class="nav-header" onclick="select('snarl')">Snarl</li>
            <li data-section="snarl/configuration" data-category="snarl">
              <a href="/snarl/configuration.html">Configuration</a>
            </li>
            <li data-section="snarl/administration" data-category="snarl">
              <a href="/snarl/administration.html">Administration</a>
            </li>
            <li class="nav-header" onclick="select('howl')">Howl</li>
            <li data-section="howl/configuration" data-category="howl">
              <a href="/howl/configuration.html">Configuration</a>
            </li>
            <li data-section="howl/administration" data-category="howl">
              <a href="/howl/administration.html">Administration</a>
            </li>
            <li class="nav-header" onclick="select('wiggle')">Wiggle</li>
            <li data-section="wiggle/configuration" data-category="wiggle">
              <a href="/wiggle/configuration.html">Configuration</a>
            </li>
            <li data-section="wiggle/administration" data-category="wiggle">
              <a href="/wiggle/administration.html">Administration</a>
            </li>
            <li class="nav-header" onclick="select('chunter')">Chunter</li>
            <li data-section="chunter/installation" data-category="chunter">
              <a href="/chunter/installation.html">Installation</a>
            </li>
            <li data-section="chunter/configuration" data-category="chunter">
              <a href="/chunter/configuration.html">Configuration</a>
            </li>
            <li data-section="chunter/administration" data-category="chunter">
              <a href="/chunter/administration.html">Administration</a>
            </li>
          </ul>
        </div>
        <div class="span9">
          {{content}}
        </div>
      </div>
    </div>

    <style>

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script src="/assets/js/bootstrap.js">
    </script>

    <script>
      $('#menu [data-section="{{page.section}}"]').addClass('active');
      function select(cat) {
      $("#menu li").filter(function(i,e){
      return $(e).attr("data-category") &&
      $(e).attr("data-category") != cat &&
      $(e).attr("data-category") != "{{page.category}}";
      }).hide();
      $('#menu [data-category="' + cat + '"]').show();
      }
      select("{{page.category}}");
    </script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31493971-3']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
